# Optional. Use only proxies you are authorized to use.
PROXY_URLS=
# Example format:
# PROXY_URLS=http://user:password@proxy1.example:3128,http://user:password@proxy2.example:3128
TARGET_URL=https://quotes.toscrape.com/js/
MAX_CONCURRENCY=3
MAX_RETRIES=3
HEADLESS=false
